//SASS variables
$body-bg-color-primary: #d9a7c7;
$body-bg-color-secondary: #fffcdc;
$body-bg-color-primary--dark-theme: #265838;
$body-bg-color-secondary--dark-theme: #000323;

$text-color: #0e0e0e;

$btn-color: #000323;
$btn-color--hover: lighten($btn-color, 10%);
$btn-color--active: lighten($btn-color, 20%);

$btn-text-color: #f1f1f1;

$card-bg-color: #f7f2f2;

$input-bg-color: white;

$label-bg-color--hover: darken($input-bg-color, 10%);
$label-bg-color--active: darken($input-bg-color, 20%);


$input-border-color--focus: blue;
$input-border-color--valid: green;
$input-border-color--invalid: red;

$file-btn-border-color: gray;

$password-color-weak: #ce3636;
$password-color-medium: #f3e16f;
$password-color-strong: #26db24;

//CSS Variables
:root {
    --body-bg-color-primary: #{$body-bg-color-primary};
    --body-bg-color-secondary: #{$body-bg-color-secondary};
    --body-bg-color-primary--dark-theme: #{$body-bg-color-primary--dark-theme};
    --body-bg-color-secondary--dark-theme: #{$body-bg-color-secondary--dark-theme};

    --text-color:#{$text-color};

    --btn-color:#{$btn-color};
    --btn-color--hover:#{$btn-color--hover};
    --btn-color--active:#{$btn-color--active};

    --btn-text-color:#{$btn-text-color};
    --card-bg-color:#{$card-bg-color};

    --input-bg-color:#{$input-bg-color};
    --input-border-color--focus:#{$input-border-color--focus};
    --input-border-color--valid:#{$input-border-color--valid};
    --input-border-color--invalid:#{$input-border-color--invalid};
    --file-btn-border-color:#{$file-btn-border-color};

    --label-bg-color--hover:#{$label-bg-color--hover};
    --label-bg-color--active:#{$label-bg-color--active};

    --password-color-weak:#{$password-color-weak};
    --password-color-medium:#{$password-color-medium};
    --password-color-strong:#{$password-color-strong};
}


//Dark theme
@media (prefers-color-scheme: dark) {
    //SASS variables
    $text-color: #f1f1f1;

    $btn-color: #fff4dc;
    $btn-color--hover: darken($btn-color, 20%);
    $btn-color--active: lighten($btn-color, 30%);

    $btn-text-color: #0e0e0e;

    $card-bg-color: #212121;

    $input-bg-color: black;
    $input-border-color--focus: orange;

    $label-bg-color--hover: lighten($input-bg-color, 10%);
    $label-bg-color--active: lighten($input-bg-color, 20%);
    //CSS variables

    :root {
        --text-color:#{$text-color};

        --btn-color:#{$btn-color};
        --btn-color--hover:#{$btn-color--hover};
        --btn-color--active:#{$btn-color--active};
        --btn-text-color:#{$btn-text-color};
        --card-bg-color:#{$card-bg-color};

        --input-bg-color:#{$input-bg-color};
        --input-border-color--focus:#{$input-border-color--focus};

        --label-bg-color--hover:#{$label-bg-color--hover};
        --label-bg-color--active:#{$label-bg-color--active};
    }

    body {
        background-position: 100% 100% !important;
    }
}

//Maps
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px
);


//Mixins 
@mixin center-flex($gap: 0px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin label-styling {
    width: 100%;
    position: absolute;
    left: 50%;
    translate: -48% 0;
    opacity: 85%;
    color: var(--text-color);
    transition:
        scale 250ms ease-out,
        translate 250ms ease-out,
        opacity 250ms ease-out,
    ;
}

@mixin input-styling {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: var(--input-bg-color);
    padding: 5px 10px;
    border-bottom: 2px solid var(--text-color);
}


//Norm and typography
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans', Helvetica, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to right, var(--body-bg-color-primary), var(--body-bg-color-secondary), var(--body-bg-color-primary--dark-theme), var(--body-bg-color-secondary--dark-theme));
    background-size: 300% 100%;
    background-position: 0 0;
    color: var(--text-color);
    transition:
        background-position 450ms ease-out,
        background-color 450ms ease-out,
        color 450ms ease-out;
    overflow: hidden;
}

img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    height: 100px;
}

input {
    border: none;
    font-family: 'Open sans', Helvetica, sans-serif;
    ;
    color: var(--text-color);
    background-color: var(--btn-color);

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

button {
    border: none;
    font-family: 'Open sans', Helvetica, sans-serif;
    ;

    &:hover {
        cursor: pointer;
    }
}

label {

    &:hover {
        cursor: pointer;
    }
}

//SASS keyframes
@keyframes invalidInput {
    from {
        translate: -25% 0%;
    }

    to {
        translate: 25% 0%;
    }
}


//SASS Styles

.main {
    height: 100vh;
    @include center-flex;

    &__container {
        height: 90%;
        width: 600px;
        background-color: var(--card-bg-color);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    &__title {
        text-align: center;
        margin: 30px 0;

        &>i {
            margin-left: 15px;
        }
    }


    &__form {
        @include center-flex-column(30px);
        width: 100%;
    }

    &__section {
        width: 90%;
        height: 50px;
        position: relative;
        @include center-flex-column();
        padding-bottom: 5px;
        position: relative;

        &-file {
            flex-direction: row;
            gap: 50px;
            height: 20%;
        }

        &-password {
            height: auto
        }

        &-icon {
            height: 20px;
            aspect-ratio: 1/1;
            position: absolute;
            right: 5px;
        }
    }

    &__image-preview-container {
        @include center-flex-column();
        outline: 2px dashed var(--file-btn-border-color);
        background-color: var(--input-bg-color);
        position: relative;
        aspect-ratio: 1/1;
        height: 100px;
        overflow: hidden;

        &>p {
            width: min-content;
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            opacity: 80%;
            text-align: center;

        }

    }

    &__image {
        aspect-ratio: 1/1;
        height: 100px;
        object-fit: cover;
        object-position: center;
    }

    &__input-label {
        background-color: rebeccapurple;
        width: 100%;
        position: relative;

        &-icon {
            height: 20px;
            aspect-ratio: 1/1;
            position: absolute;
            right: 5px;
            bottom: 15px;
        }
    }

    &__input-wrapped {
        @include input-styling;
        height: 50px;
        position: relative;

        &::placeholder {
            opacity: 0;
            transition: opacity 250ms ease-out;
        }

        &:focus::placeholder {
            opacity: 1;
        }

        &:focus {
            border-bottom: 2px solid var(--input-border-color--focus);
        }

        &:focus+.main__label-wrapped {
            translate: -55.5% -45%;
            scale: 85%;
            opacity: 100%;
        }

    }

    &__label-wrapped {
        @include label-styling;
        translate: -48% 55%;
    }

    &__password-strength {
        margin: 20px 0;
        @include center-flex(15px);

        &-box {
            background-color: white;
            width: 100px;
            height: 3px;
            font-size: 13px;
        }

        &-weak {
            background-color: var(--password-color-weak);
            position: relative;

            &::before {
                content: "Weak";
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% 25%;
            }
        }

        &-medium {
            background-color: var(--password-color-medium);
            position: relative;

            &::before {
                content: "Medium";
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% 25%;
            }
        }

        &-strong {
            background-color: var(--password-color-strong);
            position: relative;

            &::before {
                content: "Strong";
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% 25%;
            }
        }

    }

    &__label {
        @include label-styling;
    }

    &__label-file {
        outline: 2px solid var(--file-btn-border-color);
        position: static;
        width: min-content;
        white-space: nowrap;
        background-color: var(--input-bg-color);
        padding: 15px 20px;
        opacity: 1;
        transition: background-color 200ms ease-out;

        &:hover {
            background-color: var(--label-bg-color--hover);
        }

        &:active {
            background-color: var(--label-bg-color--active);
        }

    }

    &__input {
        @include input-styling;

        // &:valid {
        //     border-bottom: 2px solid var(--input-border-color--valid);
        // }

        // &:invalid {
        //     border-bottom: 2px solid var(--input-border-color--invalid);
        // }

        &::placeholder {
            opacity: 0;
            transition: opacity 250ms ease-out;
        }

        &:focus+.main__label {
            translate: -55.5% -95%;
            scale: 85%;
            opacity: 100%;
        }

        &:focus::placeholder {
            opacity: 1;
        }

        &:focus {
            border-bottom: 2px solid var(--input-border-color--focus);
        }

        &-file {
            display: none;
        }
    }

    &__button {
        color: var(--btn-text-color);
        background-color: var(--btn-color);
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 5px;
        letter-spacing: 0px;
        transition: background-color 200ms ease-out;

        &:hover {
            background-color: var(--btn-color--hover);
        }

        &:active {
            background-color: var(--btn-color--active);
        }
    }
}

.filled-input {
    translate: -55.5% -95%;
    scale: 85%;
    opacity: 100%;
}


.valid-input {
    border-bottom: 2px solid var(--input-border-color--valid);
}

.invalid-input {
    border-bottom: 2px solid var(--input-border-color--invalid);
}

.hide {
    display: none;
}

.show {
    display: block;
}